@media all and (max-width: 820px) {
	.container {
		padding: 0 15px;
	}

	.col {
		float: none;
		padding-right: 0;
	}

	.col-1-2 {
		width: 100%;
	}
}

//----------Header Section

@media all and (max-width: 710px) {
	.general {
		h2,
		h3 {
			font-size: 140%;
		}

		h2 {
			padding-bottom: 5px;
		}
	}
}

//----------Info Section

@media all and (max-width: 670px) {
	.info {
		h2 {
			font-size: 140%;
			@media all and (max-width: 320px) {
				font-size: 110%;
				line-height: 1.6;
			}
		}
	}
}

//----------Counter Section

@media all and (max-width: 670px) {
	.counter {
		h2 {
		font-size: 100%;
		line-height: 1.5;
		}
		.countdown {
			font-size: 190%;
			width: 200px;
			.num:after {
				font-size: 0.4em;
			}
			.days:after {
				left: 1px;
			}
			.hours:after {
				left: 0;
			}
			.minutes:after {
				left: -5px;
			}
			.seconds:after {
				left: -2px;
			}
		}
	}
}

//----------Register Section

@media all and (max-width: 830px) {
	.register {
		h2 {
			font-size: 150%;
			line-height: 1.5;
		}
		.btnRegister:nth-of-type(1) {
			margin-right: auto;
		}
		.btnRegister {
			display: block;
			margin: 0 auto 15px auto;
			@media all and (max-width: 400px) {
				width: 100%;
			}
		}
	}
}


//----------Action Section
@media all and (max-width:930px) {
	.actions {
		.container {
			padding: 0 15px;
		}
		.col-signup,
		.col-volunteer {
			width: 100%;
			margin: 0 0 15px;
			font-size: 80%;
			padding: 20px 10px;
		}

		.col-signup {
			input[type="email"] {
				margin-top: 10px;
			}
		}
	}
}

@media all and (max-width: 650px) {
	.actions {
		.partners {
			a {
				display: block;
				width: 150px;
				margin: 30px auto 0;
				text-align: center;
				.partner {
					margin-right: 0;
				}
			}
		}
	}
}