@import "normalize";
@import url(http://fonts.googleapis.com/css?family=Lato);

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

//----------Font Declarations
@font-face {
	font-family: 'helveticaneuecondensedbold';
	src:url('../../fonts/HelveticaNeueCondensedBold.eot') format('embedded-opentype'),
		url('../../fonts/HelveticaNeueCondensedBold.woff') format('woff'),
		url('../../fonts/HelveticaNeueCondensedBold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@mixin helvetica() {
	font-family: 'helveticaneuecondensedbold', helvetica, sans-serif;
	font-weight: bold;
}

@font-face {
	font-family: 'GothamHTF';
	src: url('../../fonts/gothamhtf-bold-webfont.woff') format('woff');
	font-weight: bold;
	font-style: normal;
}

@mixin gotham() {
	font-family: 'GothamHTF', sans-serif;
	text-transform: uppercase;
}

@font-face {
	font-family: 'icomoon';
	src:url('../../fonts/icomoon.eot?-oezvze');
	src:url('../../fonts/icomoon.eot?#iefix-oezvze') format('embedded-opentype'),
		url('../../fonts/icomoon.woff?-oezvze') format('woff'),
		url('../../fonts/icomoon.ttf?-oezvze') format('truetype'),
		url('../../fonts/icomoon.svg?-oezvze#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
	content: "\e607";
}
.icon-facebook:before {
	content: "\e608";
}
.icon-instagram:before {
	content: "\e609";
}

//----------General Styles
.container {
	max-width: 800px;
	margin: 0 auto;
}

.col {
	float: left;
	padding-right: 35px;
}

.col-1-2 {
	width: 50%;
}

img {
	max-width: 100%;
	height: auto !important;
}

h1,h2,h3,h4,h5,h6 {
	@include gotham;
}

p {
	line-height: 1.4;
	font-family: 'Lato', sans-serif;
}

input, button {
	border: 0;
	-webkit-appearance: none;
	outline: 0;
	outline: none;
}

//----------Button Styles
.btn {
	padding: 10px 20px;
	border-radius: 5px;
	background-color: #F8A431;
	box-shadow: 0 3px 0 0 #F58127;
	color: white;
	text-decoration: none;
	@include gotham;
	transition: background 0.2s ease;

	&:hover {
		background-color: #F58127;
	}
}

.btnRegister {
	padding: 15px 10px 15px 80px;
	max-width: 255px;
	display: inline-block;
	background: #F8A431 url('../../images/btnBall.png') no-repeat 30px center;
}

//----------Header Section Styles

.general {
	padding-top: 35px;
	background: url('../../images/headerBG.png') no-repeat;
	@media all and (max-width: 800px) {
		background: url('../../images/headerBG_sm.png') no-repeat;
		background-size: cover;
	}
	background-size: cover;
	text-align: center;
	color: white;

	h2 {
		margin-top: 45px;
		font-size: 2.7em;
	}

	h3 {
		font-size: 2em;
		margin-top: 5px;
	}

	.social {
		margin-top: 30px;
		padding-bottom: 45px;
		ul {
			list-style: none;

			li {
				display: inline-block;
				margin-right: 10px;
				background: white;
				width: 50px;
				height: 50px;
				border-radius: 25px;
				transition: background 0.2s ease;

				&:hover {
					background: #CF2433;
					a {
						color: white;
					}
				}
			}

			a {
				padding: 5px;
				text-decoration: none;
				font-size: 1.7em;
				color: #CF2433;
				line-height: 1.8;
				transition: color 0.2s ease;
			}
		}
	}
}

//----------Info Section Styles
.info {
	padding: 45px 0;
	background: url('../../images/infoBG.png') no-repeat;
	background-size: cover;
	overflow: hidden;
	color: white;

	.col {
		margin-bottom: 35px;
	}

	h2 {
		font-size: 2.4em;
		text-align: center;
	}
}

//----------Counter Section Styles
.counter {
	padding: 50px 0;
	background: url('../../images/counterBG.png') no-repeat;
	background-size: cover;
	h2 {
		margin-bottom: 25px;
		text-align: center;
		color: #414142;
		font-size: 1.9em;
		span {
			color: #C81A29;
		}
	}
	.countdown {
		@include helvetica;
		font-size: 5em;
		width: 520px;
		margin: 0 auto 20px;

		.num {
			color: #063C7F;
			position: relative;
			&:after {
				width: 50%;
				position: absolute;
				bottom: -18px;
				font-size: 0.25em;
				color: #909090;
				text-transform: uppercase;
			}
		}

		.days:after {
			content: "Days";
			left: 20px;
		}
		.hours:after {
			content: "Hours";
			left: 12px;
		}
		.minutes:after {
			content: "Minutes";
			left: 0;
		}
		.seconds:after {
			content: "Seconds";
			left: 4px;
		}

		.sep {
			color: #737373;
		}
	}
}

//----------Register Section Styles
.register {
	padding: 45px 0;
	background: url('../../images/registerBG.png') no-repeat;
	background-size: cover;
	.container {
		max-width: 550px;
	}
	h2 {
		margin-bottom: 45px;
		color: white;
		font-size: 2.4em;
		text-align: center;
	}

	.btnRegister:nth-of-type(1) {
		margin-right: 30px;
	}
}

//----------Actions Section Styles
.actions {
	padding: 45px 0;
	background: white;
	overflow: hidden;

	.container {
		max-width: 910px;
	}

	.col-volunteer {
		width: 380px;
		margin-right: 30px;
	}

	.col-signup {
		width: 500px;
		padding-bottom: 45px;
	}

	.partners {
		padding-top: 45px;
		clear: both;
		text-align: center;

		.leadPartner {
			display: block;
			width: auto;
			margin: 45px auto;
		}

		.partner {
			margin-right: 55px;
		}
	}

	h3 {
		color: #242424;
		text-align: center;
		font-size: 1.5em;
	}
}

.module {
	padding: 20px 40px;
	border: 1px solid #EDEDED;
	box-shadow: 2px 2px 5px 0 rgba(black, 0.3);
	text-align: center;
	@include gotham;

	h2 {
		color: #C81A29;
		margin-bottom: 10px;
	}

	a, input[type="submit"] {
		display: inline-block;
		margin-top: 20px;
		font-size: 0.8em;
	}

	p {
		font-size: 1.1em;
		text-transform: none;
		color: #414142;
	}

	input[type="email"] {
		border: 1px solid #DBDBDB;
		padding: 5px 5px 8px;
		transition: border 0.2s ease;

		&:focus {
			border-color: #F8A431;
		}
	}
}

@import "responsify";